.information-container {
     color: rgb(49, 49, 49); 
    padding: 20px; 
    display: flex;
    justify-content: center;
    text-align: center;
}

.list-container {
  text-align: left;
}

ul {
  padding-left: 20px; 
}

li {
  margin-bottom: 4px; 
}
  
 
  